__pycache__/
*.py[cod]
*.pyo
dist/
build/
*.log
db.sqlite3
media/
staticfiles/
venv/
env/
.env
db_config.txt
.vscode/
.idea/
.DS_Store
Thumbs.db
android/.gradle/
android/local.properties
android/app/release/
*.spec
